.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 90px; */
  pointer-events: none;
}

h1 {
  /* color: #6ac7b3; */
}

p {
  /* color: #6ac7b3; */
  font-size: 20px;
  text-align: justify;
}

li {
  padding-top: 5px;
  text-align: justify;
  font-size: 20px;
  /* color: #6ac7b3; */
}

button:focus {
  outline: none;
}

button {
  background-color: white;
  color: #faaf18;
  border: 0px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}

.header {
  height: 70px;
  flex: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: #e65d25; */
  border-bottom: 1px solid #e5e5e5;
  /* align-items: center; */
  /* justify-items: center; */
}

.tab {
  padding: 10px;
  border: 1px solid #e5e5e5;
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  flex: 7;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.content-home {
  flex: 7;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 50px;
}

.text-display {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* border-right: 1px dotted #6ac7b3; */
  border-right: 1px dotted #e5e5e5;
  padding: 30px;
}

.image-display {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageLogo {
  width: 110px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
